.box {
  width: 5vw;
  height: 5vw;
  background-color: darkcyan;
  margin: 8px;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  
}
.calculator {
  display: flex;
  justify-content: center;
  /* border: none; */
  outline: none;
  cursor: pointer;
}
.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 8vh;
}
.textfield {
  width: 24.2vw;
  height: 5vw;
  font-weight: 800;
  color: white;
  background-color: rgba(0, 0, 0, 0.627);
}
.textfield {
  border: none;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.blinking-cursor {
  content: "|";
  animation: blink 1s step-end infinite;
  color: black;
  margin-left: 2px;
}
.image{
  width: 55%;
}